# Place this file as server/src/main/resources/application-secret.yml

spring:
  datasource:
    password: '<your-password>'

token-crypto:
  active-version: v1
  token-keys:
    v1: "<your-random-key>" # Generate the key with `head -c 32 /dev/urandom | base64`
